h1 {
  text-align: center;
}

#description {
  text-align: center;
}

#form-body {
  /* width: 80%; */
  margin: auto;
  text-align: center;
  display: block;
}

.label-div {
  display: block;
}

.input-box {
  width: 120px;
}